.container {
  height: 500px;
  width: 400px;
  border: 10px;
  border: 10px solid blueviolet;
  /* position: relative; */
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.center {
  display:flex;
  justify-content: center;
  align-content: center;
}